@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

:root {

  --master-container: 2000px;
  --container: 1300px;
  --container-large: 1200px;
  --container-small: 600px;
  --container-extra-small: 400px;

  --primary-background: #FAF7F2;

  --primary-brown: #1A1209;
  --transparent-primary-brown: #1a1209f3;
  --transparent-brown-strong: #1a1209e7;

  --footer: #100b05;

  --primary-gold: #C9A96E;
  --secondary-gold: #E8D4B0;
  --dark-gold: #8B6F47;
  --bright-gold: #f6ce83;

  --transparent-white-smooth: #FFFFFF99;
  --transparent-white-strong: #FFFFFF50;
  --transparent-gold: #c9a96e54;

  --green: #25D366;
  --transparent-green-smooth: rgba(37,211,102,.35);
  --transparent-green-strong: rgba(37,211,102,.08);
 
  --white: #FFFFFF;
  --black: #000000;
  --overlay: #00000044;

  --gray: #4b4444;

}

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-dm: "DM Sans", sans-serif;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--primary-background); }
::-webkit-scrollbar-thumb { background: var(--primary-gold); border-radius: 3px; }

