@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";

:root {

  --master-container: 2000px;
  --container: 1440px;
  --container-large: 1200px;
  --container-small: 600px;
  --container-extra-small: 400px;

  --primary-background: #FAF7F2;

  --primary-brown: #1A1209;
  --transparent-primary-brown: #1a1209f3;

  --primary-gold: #C9A96E;
  --secondary-gold: #E8D4B0;
  --dark-gold: #8B6F47;

  --transparent-white-smooth: #FFFFFF99;
  --transparent-white-strong: #FFFFFF50;
  --transparent-gold: #c9a96e54;
 
  --white: #FFFFFF;
  --black: #000000;

  --gradient: linear-gradient(100deg, rgba(26,18,9,.88) 0%, rgba(26,18,9,.60) 55%, rgba(26,18,9,.20) 100%);
}

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-dm: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
